<h1 style="color: #F44336;">Fantasy Ski Racer</h1>
<article>
    <p>
        Fantasy Sports is a huge industry and alpine skiiing is a wizened, yet fairly unknown sport outside of the winter olympics. Fantasy Ski Racer was created to bring the great game to the masses in an accessible way.
    </p>
    <p>
        Initially a website, we did some work early on to support the first iteration of Fantasy Ski Racer (FSR).
        This was successful enough that backers requested an mobile app version of the site and its features.
        Using AngularJS and Cordova (which essentially allows you to develop a website and wire that site up to phone features, packaging everything up as though it were a native application), we were able to realize this goal for the 2015-2016 season.
        The next year, we were again commissioned to add different disciplines, live race results, athlete profiles, and more.
        This work included design, implementation, testing, and deploy for the 2016-2017 season. 
    </p>
    <p>
        <a href="https://play.google.com/store/apps/details?id=com.fantasyskiracer.topten&hl=en" target="_blank">Feel free to download the app</a> and enjoy yourself (if you are interested in the ancient art of competitive skiiing, that is).
    </p>
</article>
