<div class="flex-container" fxLayout.md="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign>
  <div fxFlex.lg="30%" fxFlex.md="30%" fxFlex.sm="100%" fxFlex.xs="100%" class="flex-item page-select-group">
    <div (click)="select(0)" class="page-select-container profile-select-container flex-container" [class.selected]="isSelected(0)" fxLayout="row" fxLayoutAlign="start center">
      <div>
        <div style="font-size:22px;"><strong>Joshua Clingo</strong></div>
        <div><span>CS</span> | <span>UX</span> | <span>UI</span> | <span>Writing</span></div>
      </div>
    </div>
    <div (click)="select(Pages.nanostring)" class="page-select-container" [class.selected]="isSelected(Pages.nanostring)">
      <div class="icon">
        <img src="./assets/dna.svg"/>
      </div>
      <div>Nanostring</div>
    </div>
    <div (click)="select(Pages.jingoAI)" class="page-select-container" [class.selected]="isSelected(Pages.jingoAI)">
      <div class="icon">
        <img src="./assets/cloud-ai.svg"/>
      </div>
      <div>Jingo.AI</div>
    </div>
    <div (click)="select(Pages.lphi)" class="page-select-container" [class.selected]="isSelected(Pages.lphi)">
      <div class="icon">
        <img src="./assets/doctor.svg"/>
      </div>
      <div>LPHI</div>
    </div>
    <div (click)="select(Pages.haPortal)" class="page-select-container" [class.selected]="isSelected(Pages.haPortal)">
      <div class="icon">
        <img src="./assets/medical-desktop.svg"/>
      </div>
      <div>Health Ally Provider Portal</div>
    </div>
    <div (click)="select(Pages.haApp)" class="page-select-container" [class.selected]="isSelected(Pages.haApp)">
      <div class="icon">
        <img src="./assets/medical-smartphone.svg"/>
      </div>
      <div>Health Ally Mobile App</div>
    </div>
    <div (click)="select(Pages.cognitive)" class="page-select-container" [class.selected]="isSelected(Pages.cognitive)">
      <div class="icon">
        <img src="./assets/microscope.svg"/>
      </div>
      <div>Cognitive Medical / Veterans Affairs (VA)</div>
    </div>
    <div (click)="select(Pages.fsr)" class="page-select-container" [class.selected]="isSelected(Pages.fsr)">
      <div class="icon">
        <img src="./assets/skiier.svg"/>
      </div>
      <div>Fantasy Ski Racer App / Website</div>
    </div>
    <div (click)="select(Pages.dataphorWeb)" class="page-select-container" [class.selected]="isSelected(Pages.dataphorWeb)">
      <div class="icon">
        <img src="./assets/db.svg"/>
      </div>
      <div>Dataphor Web Client</div>
    </div>
    <div (click)="select(Pages.other)" class="page-select-container" [class.selected]="isSelected(Pages.other)">
      <div class="icon">
        <img src="./assets/galaxy.svg"/>
      </div>
      <div>Beyond</div>
    </div>
  </div>
  <p-detail [page]="page" fxFlex.md="70%" fxFlex.sm="100%" fxFlex.xs="100%" class="flex-item detail-container"></p-detail>
</div>