.page-select-group {
    background-color: #252526;
    color: #d4d4d4;
    font-weight: 400;
    height: 100vh;
    padding-bottom: 10px;
}

@media(max-width: 959px) {
    .page-select-group {
        min-height: initial;
        height: 100%;
    }
}

.page-select-container.selected {
    background-color: #F44336;
    color: #fff;
}

.page-select-container .icon img {
    padding-right: 10px;
    width: 40px;
    height: 40px;
}

.page-select-container.selected .icon img {
    
}

.page-select-container {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    transition: background-color 100ms linear;
}

.page-select-container:hover {
    cursor: pointer;
    color: white;
    background-color: #F44336;
}

.detail-container {
    padding-left: 20px;
    padding-right: 20px;
}