<h2 style="margin-bottom:0; color: #2196F3;">Beyond</h2>
<article>
    <p>
        One great thing about working for a consulting company is that I've been able to participate in more distinct projects than most people, save those who wear jobs like coats.
    </p>
    <p>
        The following are some of the other projects I've worked on since donning the professional pants of a man:
    </p>
    <div class="project">
        <h3>Freedom National</h3>
        <p>Freedom National (auto insurance) has a long-standing relationship with our company, and I've been contributing to their <a href="https://freedomgeneral.com" target="_blank">point-of-sale site</a> off and on for a few years now.</p>
    </div>
    <div class="project">
        <h3>LeadCloud</h3>
        <p>LeadCloud, as the name suggests, provides a way to capture auto insurance leads for sales agents. We built an app to capture these leads and to complete the sale.</p>
    </div>
    <div class="project">
        <h3>harmoniqhealth.com</h3>
        <p>I designed and built our corporate site.</p>
    </div>
    <div class="project">
        <h3>osiamed.com</h3>
        <p>I designed and built the site.</p>
    </div>
    <div class="project">
        <h3>Pollen Ally</h3>
        <p>As part of an intended collaboration with GSK, I designed a new mobile app for tracking and following pollen info. (Unfortunately, it's under NDA.)</p>
    </div>
    <div class="project">
        <h3>Claritin Ally</h3>
        <p>As part of an intended collaboration with Bayer, I designed a new mobile app for Claritin. (Unfortunately, it's also under NDA.)</p>
    </div>
    <div class="project">
        <h3>Sales Presentations/Content</h3>
        <p>There have been several prospective clients for which I have provided designs and content in an attempt to woo them to our causes (All under NDA, of course).</p>
    </div>
    <div class="project">
        <h3>Dataphor Documentation</h3>
        <p>I ported Dataphor's documentation suite to the web–also edited and improved content (technical editing).</p>
    </div>
    <div class="project">
        <h3>HarmonIQ IT work</h3>
        <p>I've done a decent share of IT work for HarmonIQ (most of it in AWS, Amazon Web Services)</p>
    </div>
    <div class="project">
        <h3>HarmonIQ Design Work</h3>
        <p>As I am the only designer in the company, I've designed most of their public-facing assets––the logo, business cards, other product logos and icons, etc.</p>
    </div>
</article>