<h1 style="margin-bottom:0; color: #F44336;">Joshua Clingo</h1>
<h5 style="margin-top:0; color: #F44336;">User Experience | User Interface | Computer Science | Psychology | Philosophy</h5>
<article>
    <p>Well met!</p>
    <p>I am a UX Engineer by title and other things in practice. Some history: I received an BS in Computer Science, minoring in Physics and began my career in Software Engineering. During these years (and presently), we built a wide range of products, from enterprise to small-scale ventures.</p>
    <p>While engineering these systems, my personal interests pulled me into the realm of applied psychology–User Experience. In tandem with developing my skills as a Software Engineer, I've honed my design and research skills.</p>
    <p>I am experienced in software engineering, design, applied psychology, writing, and research.</p>
    <p>My zeal lies in the realm of Cognitive Neuroscience (CNS) and how it maps (or doesn't!) to Artificial Intelligence––and I intend to pursue his PhD in that area as soon as the situation permits.</p>
    <p>Less professionally but with equal ardor (not the tree: note the backwards b), I'm a writer. And what do I write? At this point, I'm covering CNS and AI. I'm also hoping to cut my teeth on long-form science fiction at some point (feel free to ask me about <a href="https://youtu.be/NTSGp4UdEvQ" target="_blank">that novel I've been working on</a>).</p>
</article>

<div class="contact-container flex-container" fxLayout="row" fxLayoutAlign="start stretch">
    <div class="flex-item">
        <img src="./assets/space-self.jpg" style="max-width: 100px;"/>
    </div>
    <div class="flex-item info">
        <div>Email: <a href="mailto:joshuaclingo@gmail.com?Subject=Well%20Met!" target="_top">joshuaclingo@gmail.com</a></div>
        <div>Phone: <a href="tel:1-801-717-5448">801.717.5448</a></div>
        <div>Website: Yer lookin' at it, Harry.</div>
        <div>Résumé: <a href="./assets/résumé-joshua-clingo.pdf">Right here</a> (right-click save-as to download (or if in Safari))</div>
    </div>
</div>

<article>
    <p>On the left, you'll find a list of some of my recent projects. Do <a href="https://youtu.be/HllPf14oBqg" target="_blank">feel free to spool through</a>.</p>
</article>