<article>
    <p>Well met!</p>
    <p>I'm a UX Engineer by title and a great many things in practice. I received an BS in Computer Science (minor in Physics) and began my career in Software Engineering. During these years (and presently), I built a wide range of products, from enterprise to small-scale ventures. While engineering these systems, my personal interests pulled me into the realm of applied psychology–User Experience. In tandem with developing my skills as a Software Engineer, I've honed my design and research skills and have augmented typical software engineering with human cognition, reconciling real-world constraints with product vision.</p>
    <p>I am experienced in software engineering, design, applied psychology, writing, and research.</p>
    <p>My zeal lies in the realm of Cognitive Neuroscience–the study of the human mind–and I intend to pursue his PhD in the area. After all, User Experience, at its core, is human cognition applied toward the development of products that align with our psychological needs, backed up by both qualitative and quantitative data. The medical product world has yet to fully explore and harmonize itself with cognitive neuroscience, but I (along with my peers) aim to remedy this, wind willing.</p>
    <p>Less professionally but with equal ardor, I'm a writer. And what do I write? At this point, it's mostly hackneyed philosophy of the mind––the philosophical component of neuroscience. Along those lines, I dig AI and everything to do with it. I'm also hoping to cut my teeth on long-form science fiction before too long.</p>
</article>

<div class="contact-container flex-container" fxLayout="row" fxLayoutAlign="start stretch">
    <div class="flex-item">
        <img src="./assets/space-self.jpg" style="max-width: 100px;"/>
    </div>
    <div class="flex-item info">
        <div>Email: <a href="mailto:joshuaclingo@gmail.com?Subject=Well%20Met!" target="_top">joshuaclingo@gmail.com</a></div>
        <div>Phone: <a href="tel:1-801-717-5448">801.717.5448</a></div>
        <div>Website: Yer lookin' at it, Harry.</div>
        <div>Résumé: <a href="résumé-joshua-clingo.pdf">Right here</a></div>
    </div>
</div>

<article>
    <p>On the left, you'll find a list of some of my more recent projects. Do <a href="https://youtu.be/HllPf14oBqg" target="_blank">feel free to spool through</a>.</p>
</article>