<h1 style="margin-bottom:0; color: #F44336;">Joshua Clingo</h1>
<h5 style="margin-top:0; color: #F44336;">User Experience | User Interfaces | Computer Science | Psychology | Philosophy | Effective Altruism</h5>
<article>
    <p>Well met!</p>
    <p>Self-descriptions always come off a little campy but bear with me.</p>
    <p>Some autobiographical background to begin, starting with university: Like some people and unlike some others, I wasn't sure where I was headed when I started college.
        I'd dabbled in game development but was concerned with the direction the industry was going.
        So instead I started out in architecture, before ecclesiastical obligations pulled to Guatemala for two years of evangelizing (yes, really).
        When I came back, I decided that since I was good at being patient with computers and wanted a stable, well-paying job, I should do computer science.
        I studied that, graduating in 2013 and with a job in town, doing consulting. Much of what's in my sections here comes from that work. It was great work but more mercenary than I wanted in the end.
        Eventually, I packed up and moved to Seattle in order to find people with more similar philosophical leanings.
    </p>
    <p>
        Presently, I'm still looking for those people. Of course, I haven't really specified my philosophical leanings.
        Generally, I'd consider myself a utilitarian with a lot of sympathy for individual liberties.
        I've been studying what an amateur can study about neuroscience for some years now. Some thoughts I've had in these studies have shown up on my writing site, <a href="http://jingo.ai" target="_blank">Jingo.AI</a>.
    </p>
    <p>
        Career-wise, I'm interested in work that can be rationally defended as something that benefits people, ideally as many as possible.
        Think <a href="https://80000hours.org">80000 Hours</a>.
        If you are unfamiliar with their work, it can be summarized as the idea that we have roughly 80000 hours in our careers.
        This time could and should be dedicated to benefiting others in whatever way makes sense in each individual case.
    </p>
</article>

<div class="contact-container flex-container" fxLayout="row" fxLayoutAlign="start stretch">
    <div class="flex-item">
        <img src="./assets/space-self.jpg" style="max-width: 100px;"/>
    </div>
    <div class="flex-item info">
        <div>Email: <a href="mailto:joshuaclingo@gmail.com?Subject=Well%20Met!" target="_top">joshuaclingo@gmail.com</a></div>
        <div>Phone: <a href="tel:1-425-657-8744">425.657.8744</a></div>
        <div>Website: Yer lookin' at it, Harry.</div>
        <div>Résumé: <a href="./assets/résumé-joshua-clingo.pdf">Right here</a> (right-click save-as to download (or if in Safari))</div>
    </div>
</div>

<article>
    <p>On the left, you'll find a list of some of my recent projects. Do <a href="https://youtu.be/HllPf14oBqg" target="_blank">feel free to spool through</a>.</p>
</article>