.contact-container {
    background-color: #eee;
    border-radius: 5px;
    padding:20px 10px;
    font-family: 'Pontano Sans', sans-serif;
    font-weight: 600;
}

.contact-container .info {
    padding-left: 20px;
}

.contact-container .info div {
    margin-bottom:5px;
}