<h1 style="color: #F44336;">Health Ally Mobile App</h1>
<article>
    <p>
        As part of my work for OSIA Medical, I designed and developed Health Ally, an iOS, Android, and Windows Phone (Rest in peace, sweet prince) <a href="https://itunes.apple.com/us/app/health-ally/id951166565" target="_blank">app</a> for patients with certain chronic conditions, including Asthma, Allergies, High Blood Pressure, Diabetes, Depression––and so on. We used Xamarin studio to facilitate the cross-platform aspect.
    </p>
    <p>
        The driving idea behind this app was that doctors have little to no visibility into their patients' health between what are often infrequent visits. Similar apps are now somewhat commonplace, but OSIA was ahead of the curve in trying to solve this issue.
    </p>
    <p>
        Doctors have their own interface with the data via the provider portal, but for the sake of the app, we wanted to keep things as straightforward as possible. Patients can get weather information (including pollen, which turned out to be a rather glaring hole in our medical dataset and warranted its own set of projects). Additionally, patients can get updates directly from their doctors-–they can even converse with them directly.
    </p>

    <p>
        Worth noting is that we developed two apps prior to Health Ally: Asthma Ally and Allergy Ally. These are similar to Health Ally, but with focus on their namesakes. 
    </p>

</article>

<div class="gallery-container">
    <div class="image">
        <div *ngIf="isSelected(0)">
            <img src="./assets/app-main.png" alt="Health Ally -- Main screens"/>
            <br>
            <div class="caption">
                (Left to right) The homescreen, a daily checkup, and a more detailed evaluation
            </div>
        </div>
        <div *ngIf="isSelected(1)">
            <img src="./assets/app-conversations.png" alt="Health Ally -- Conversations"/>
            <br>
            <div class="caption">
                (Left to right) Current conversations, inside a conversation
            </div>
        </div>
    </div>
    <div class="thumbnails flex-container" fxLayout="row" fxLayout-xs="column" fxLayoutAlign="center stretch">
        <div class="flex-item" fxFlex="250px">
            <img src="./assets/app-main.png" class="thumbnail" [class.selected]="isSelected(0)" alt="Health Ally -- Main screens" (click)="select(0)"/>
        </div>
        <div class="flex-item" fxFlex="250px">
            <img src="./assets/app-conversations.png" class="thumbnail" [class.selected]="isSelected(1)" alt="Health Ally -- Messaging" (click)="select(1)"/>
        </div>
    </div>
</div>