/* You can add global styles to this file, and also import other style files */

html {
    font-family: Segoe UI, Verdana, Helvetica, Sans-Serif;
    background-color: #1e1e1e;
    color: #d4d4d4;
    font-size: 13px;
    min-height: 100vh;
}

body {
    margin: 0;
    min-height: 100vh;
}

p {
    font-family: 'Consolas', 'Courier-New';
    font-size: 13px;
}

/*Gallery*/

.gallery-container .thumbnail {
    max-width: 200px;
    padding: 10px;
    transition: background linear 400ms;
}

.gallery-container .thumbnail:not(.selected):hover {
    cursor: pointer;
    background: #373737;
}

.gallery-container .thumbnail.selected {
    background: #373737;
}

.gallery-container .image {
    margin: 0 auto;
    max-width: 90%;
}

.gallery-container .image .caption {
    text-align: center;
    padding-bottom: 20px;
}

.gallery-container .image img {
    max-width: 100%;
    padding: 20px 20px 5px 20px;
}

.project {
    background: #373737;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #111111;
    border-radius: 5px;
}

.project h3 {
    color: #2196F3;
}