<h1 style="color: #2196F3;">Cognitive Medical / Veterans Affairs (VA)</h1>
<article>
    <p>Cognitive Medical Systems, a Health IT company reached out to what was then Database Consulting Group (now HarmonIQ, my current employer) to employ our expertise as part of a contract with the Department of Veterans Affairs (VA).</p>

    <p>
        While many of the specifics (including any nice imagery, demos, or excerpts from the 50-page opus I prepared) are unfortunately under NDA, the gist is that I was brought on to offer UI and UX expertise as part of developing a new standard for use in defining the presentation of what they call "knowledge artifacts"–a fancy term for standard-driven chunks of clinical information, specifically those used for clinical decision support.
        One unique aspect of the project was that we were forced to consider the presentation aspect of data as a step fully separated from the data itself. Even though we were dealing with presentation-free data, it was expected that any knowledge artifact could be given a standard-driven set of UI metadata definitions and consistently rendered the same on just about any possible device. 
    </p>

    <p>
        Our involvement lasted about half a year, during which we prepared materials and supporting documentation for the VA's representatives to validate. Last I heard, we had passed every test with flying colors.
    </p>

</article>