<h1 style="color: #F44336;">LPHI (Louisiana Patient Health Index)</h1>
<article>
    <p>As part of our first all-hands-on deck endeavor (since the merger), HarmonIQ's Salt Lake and Louisiana divisions are currently working on a large-scale project for hospitals in Louisiana.</p>
    <p>The project is large in scope, but the initial impetus for is was a need to archive terabytes of patient health records from several different health systems. Of course, it's not enough to simply throw all your data on a capacious server and call it a day–you also need to manage, retrieve, update, validate, and merge the data.</p>
    <p>So far, my work on the project has been to build the frontend for clinical admins to merge patient records that our algorithms have determined have a high likelihood of describing the same patient. We succeeded in building that tool.</p>
    <p>(I believe I can show this much. Can show more to any interested parties with an NDA.)</p>
    <img src="./assets/merge-tool.png" style="max-width: 800px; margin: 0 auto;"/>
    <p>This was well-received, but needed honing. We had several user testing sessions and ended up with the following:</p>
    <img src="./assets/merge-tool-v2.png" style="max-width: 800px; margin: 0 auto;"/>
    <p>Quite different from the first version, our production version was and continues to be well-received, making what has traditionally been a painful experience into one that's merely boring (but necessary for healthcare!).</p>

    <p>The next step was to build a separate tool for managing patient information disclosure consent, which we also did. The interface is fairly straightforward. As is often the case, much of the technicality was in getting there. (This part is also sensitive, but could be shown under NDA.)</p>
</article>