<h1 style="color: #F44336;">Jingo.AI</h1>
<article>
    <p>
        <a href="https://jingo.ai" target="_blank">Jingo.AI</a> is a publication about AI, neuroscience, and effective altruism.
    </p>
    <p>
        We've discussed <a href="https://jingo.ai/polititopia-part-1-voting-36dbb534bb22" target="_blank">political system overhauls</a>, <a href="https://jingo.ai/ok-humans-the-end-of-our-species-is-nigh-repent-ye-repent-ye-part-1-77f917d9839a" target="_blank">the value of pure R&D</a>, the <a href="https://jingo.ai/war-attention-war-4205c8ea12f6" target="_blank">end of humans as we know them</a>, <a href="https://jingo.ai/war-attention-war-4205c8ea12f6" target="_blank">the perils of attention loss</a>, <a href="https://jingo.ai/ea-global-london-2018-affecting-altruism-23fee7be9f6e" target="_blank">the Effective Altruism Global Conference</a>––a veritable grab-bag of interlinked ideas and issues.
    </p>
    <p>
        I'm going to recommend you follow one of the hyperlinks above. Hell, I'll even provide you <a href="https://jingo.ai" target="_blank">another hyperlink</a> to the home page.
    </p>
</article>





 

 

 