<h1 style="color: #F44336;">jingo.ai</h1>
<article>
    <p>
        jingo.ai is my <a href="https://jingo.ai" target="_blank">personal site for writing about AI</a>. I'm using it to capture some of my thoughts and ideas on AI, specifically how AI and neuroscience intersect.
    </p>
    <p>
        It's a work in progress, but I have plenty of ideas for how to develop it (podcasts, drawings, video content, etc.).
        The impetus behind the site is selfish––by creating public content about AI and neuroscience, I'm hoping to push myself to think about some of the details in a more profound manner. As part of the project, I'll also be documenting some of my naïve baby-steps into the programming/stats (oh dear) side. 
    </p>
    <p>
        (It isn't until we are forced to explain ourselves that we realize how little we know. Once we become aware of this, I think we finally start to understand. That's the idea, at least.)
    </p>
</article>